#
# Apache settings:
#

# Use SetEnvIfNoCase if possible over mod_rewrite to spare the CPU

# Prevent remote image linking but allow some good sites
SetEnvIfNoCase Referer "^$" img_link
SetEnvIfNoCase Referer "^https?://([a-z]+\.)?xdeb\.org.*$" img_link
SetEnvIfNoCase Referer "^https?://([a-z]+\.)?xdeb\.net.*$" img_link
SetEnvIfNoCase Referer "^http://www\.google\..*$" img_link
SetEnvIfNoCase Referer "^http://([a-z0-9]+\.)?archive\.org.*$" img_link
SetEnvIfNoCase Referer "^http://translate\.google\..*$" img_link

<FilesMatch "\.(mp4|swf|mp3|MP3|gif|GIF|jpe?g|JPE?G|png|PNG)$">
  <IfModule mod_authz_core.c>
    Require env img_link
  </IfModule>
</FilesMatch>

# Various rewrite rules.
<IfModule mod_rewrite.c>
  RewriteEngine on

  # Remove www
  RewriteCond %{HTTP_HOST} ^www\.xdeb\.org$ [NC]
  RewriteRule ^ https://xdeb.org%{REQUEST_URI} [R=permanent,L]

  # Rewrite old URLs

  RewriteCond %{REQUEST_URI} ^/blog/frjo [NC]
  RewriteRule ^ / [R=permanent,L]

  RewriteCond %{REQUEST_URI} ^/blog [NC]
  RewriteRule ^ /post/ [R=permanent,L]

  RewriteCond %{REQUEST_URI} ^/wiki/fredrik [NC]
  RewriteRule ^ /fredrik [R=permanent,L]

  RewriteCond %{REQUEST_URI} ^/wiki/ragnvald/grunsjoberattelser [NC]
  RewriteRule ^ /ragnvald/bilder-berattelser-grundsjo [R=permanent,L]

  RewriteCond %{REQUEST_URI} ^/wiki/ragnvald [NC]
  RewriteRule ^ /ragnvald [R=permanent,L]

  RewriteCond %{REQUEST_URI} ^/fj_items/reunion/(.*) [NC]
  RewriteRule ^ /reunion/%1 [R=permanent,L]
</IfModule>
